/bmı-calculator
/cards
/carousel-app
/dates-reminder
/digital-clock
/easy-website
/faq-app
/form-validation
/gallery-app
/hamburger-menu
/meme-generator
/pagination
/random-cat
/random-number
/random-profile
/random-quote
/restaurant-app
/search-filter
/shopping-card
/shopping-card.rar
/toastify
/todo-app
/tourist-app
/tours-app
/ıncome-tracker